body{
    padding: 0;
    margin: 0;
	display: flex;
	flex-direction: column; 
	height: 100%;
}
/*--------------------HEADER-----------------------------------------------------*/
.items{
	text-decoration: none;
	display:inline-block;
	text-transform: uppercase;
	margin-left: 35px;
	font-size: 13px;
	font-family:sans-serif;
	font-weight: 600;
	margin-top: 15px;
}
.header{
	/*display: flex;*/
	font-family: 'Lato', sans-serif;
}
.header_content{
	display: flex;
	max-width: 1920px;
}
.header_content__picture{
	width: 50%;
	height: 820px;
	background-size: cover;
	background-position: center;
	background-image:url(images/home-img.jpg);
}
.header_content__picture-stimulus{
	padding-left: 170px;
	padding-top: 10px;
	font-weight: 700;
	color: black;
	text-shadow: 1px 1px 0px rgb(255,255,255);
	font-size: 20px;
}
.header_content__navigation{
	width: 50%;
	height: 820px;
	background-color: rgb(238, 213, 210);
}
.links{
	text-decoration: none;
	color: black;
}
.links:hover{
	color: burlywood;
}

.header_content__navigation__get-started{
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 100px;
	background-color: rgb(238, 213, 210);
	color: black;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
	border-color: black;
	margin-left: 40px;
	margin-top: 60px;
}
.header_content__navigation__welcome-message{
	font-size: 12px;
	text-transform: uppercase;
	color: gray;
	font-weight: 100;
	margin-left: 40px;
	margin-top: 195px;
}
.header_content__navigation__hello-massage{
	font-weight: 100;
	font-size: 33px;
	margin-left: 40px;
	width: 90%;
}
.header_content__navigation__paragr{
	font-size: 15px;
	color: gray;
	font-weight: 100;
	margin-left: 40px;
	width: 90%;
}
/*--------------------BODY-----------------------------------------------------*/
.main{
	/*display: flex;
	flex-direction:column;*/
	font-family: 'Lato', sans-serif;
}
/*----------BODY:skills-line---------------------------------------------------------------*/
.main__skills{
	display: flex;
}
.main__skills__content{
	max-width: 1920px;
	display: flex;
}
.main__skills__content__text__paragr-brown,
.main__skills__content__text__paragr-gray,
.main__skills__content__text__header{
	padding-left: 30px;
	padding-right: 30px;
}
.main__skills__content__text__header{
	padding-top: 30px;
	font-weight: 100;
	font-size: 25px;
}
.main__skills__content__text__paragr-brown{
	color: burlywood;
}
.main__skills__content__text{
	width:50%;
	height: 345px;
	background-color: white; 
}
.main__skills__content__picture{
	width: 25%;
	height: 345px;
	background-size: cover;
	background-position: center;
	background-image:url(images/about-img.jpg);
}
.main__skills__content__levels{
	width: 25%;
	height: 345px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction:column;
}
.main__skills__content__levels__header{
	padding-top: 10px;
	padding-left: 30px;
	font-weight: 100;
	font-size: 25px;
	color: white;
}
.main__skills__content__levels__list{
	padding-left: 30px;
	font-size: 14px;
	color: white;
	font-weight: 100;
}

progress{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background-size: auto;
}
progress::-webkit-progress-bar {
background: rgb(225,225,225);
	height: 2px;
}
progress::-webkit-progress-value {
background: rgb(0,0,0);
	height: 2px;
}
.progress-line{
	width: 80%;
	margin-left: 30px;
}
.progress-num{
	font-size: 15px;
	padding-left: 30px;
	font-weight: 600;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 40%;
}
.progress-name{
	font-size: 13px;
	padding-left: 30px;
	font-weight: 600;
	color: white;
	padding-top: 0;
	margin-top: 0;
	width: 40%;
}
/*----------BODY:skills-cards---------------------------------------------------------------*/
.main__more{
	display: flex;
}
.main__more__content{
	display: flex;
	max-width: 1920px;
	
}
.main__more__content__card-1{
	width: 25%;
	height: 340px;
	background-color:rgb(218, 165, 32);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.main__more__content__card-2{
	width: 25%;
	height: 340px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.main__more__content__card-3{
	width: 25%;
	height: 340px;
	background-color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.main__more__content__card-4{
	width: 25%;
	height: 340px;
	background-color:white;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	align-items: center;
}
.main__more__content__card__text-2,.main__more__content__card__text-1{
	text-align: center;
	padding: 20px;
}
.main__more__content__card__text-3,.main__more__content__card__text-4{
	text-align: center;
	padding: 20px;
}
.fa-paper-plane,.fa-table,.fa-picture-o{
	color: whitesmoke;
	padding-top: 50px;
}
.fa-html5{
	padding-top: 50px;
}
.main__more__content__card__headline-1,.main__more__content__card__headline-2,
.main__more__content__card__headline-3{
	color: white;
}
.main__more__content__card__text-1,.main__more__content__card__text-2,
.main__more__content__card__text-3{
	color: white;
}
/*----------BODY:experiences-line---------------------------------------------------------------*/
.main__experiences{
	display: flex;
	max-width: 1920px;
}
.main__experiences__content{
	width: 100%;
	display: flex;
	flex-direction: row;
}
.main__experiences__content__picture{
	min-width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image:url(images/experience-img.jpg);
}
.main__experiences__content__inform{
	max-width: 50%;
	height: 400px;
	background-color: rgb(210, 105, 30);
	display: flex;
  	flex-direction: column;
	align-items: flex-start;
	padding-left: 30px;
	color: whitesmoke;
}
/*----------BODY:education-line---------------------------------------------------------------*/
.main__education{
	display: flex;
	max-width: 1920px;
}
.main__education__content{
	width: 100%;
	display: flex;
}
.main__education__content__picture{
	min-width: 50%;
	height: 400px;
	background-size: cover;
	background-position: center;
	background-image:url(images/education-img.jpg);
}
.main__education__content__inform{
	max-width: 50%;
	height: 400px;
	background-color: rgb(218, 165, 32);
	display: flex;
  	flex-direction: column;
	align-items: flex-start;
	color: whitesmoke;
	padding-left: 30px;
}
.Education,.Experiences{
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 0;
}
.data{
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.fa-desktop{
	color: whitesmoke;
	padding-right: 20px;
	padding-top: 10px;
}
.course-name{
	font-size: 20px;
	display: flex;
  	flex-direction: row;
	font-weight: 100;
	justify-content: center;
}
.duration{
	font-size: 10px;
	color: rgb(28, 28, 28);
	padding-top: 15px;
	padding-left: 5px;
}
/*----------BODY:quoate(цитата)-line---------------------------------------------------------------*/
.main__text{
	display: flex;
	background-image:url(images/quotes-bg.jpg);
	max-width: 1920px;
}
.main__text__content{
	width: 100%;
	height: 400px;
	background-size: cover;
	background-position: center;
	filter: alpha(Opacity=70); /* Прозрачность в IE */
	background:rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
  	align-content: space-between;
  	align-items: center;
  	flex-direction: column;
}
.fa-star{
	color: white;
	padding-right: 100px;
}
.main__text__content__h2{
	color: white;
	font-weight: 100;
	max-width: 800px;
	text-align: center;
}
.main__text__content__p{
	color: whitesmoke;
	font-weight: 100;
}
/*----------BODY:testimonial-line---------------------------------------------------------------*/
.main__prefooter{
	display: flex;
	max-width: 1920px;
}
.main__prefooter__content{
	width: 100%;
	display: flex;
	height: 610px;
	flex-direction: row;
	justify-content: center;
}
.main__prefooter__content__sayhello{
	width: 50%;
	height: 610px;
	background-color: rgb(210, 105, 30);
	display: flex;
	flex-direction:column;
	padding-left: 30px;
	padding-right: 30px;
	
}
.main__prefooter__content__sayhello__form__h2{
	font-weight: 100;
	font-size: 40px;
	color: white;
	margin-top: 50px;
}
.main__prefooter__content__sayhello__form__p{
	color: white;
	margin-bottom: 60px;
}
input::-moz-placeholder { color: white; font-family: 'Lato', sans-serif; } /*Firefox*/
textarea:-moz-placeholder { color: white; font-family: 'Lato', sans-serif; }
input::-webkit-input-placeholder { color: white;font-family: 'Lato', sans-serif;}/*Safari,Chrome*/
textarea::-webkit-input-placeholder { color: white;font-family: 'Lato', sans-serif; }
.main__prefooter__content__sayhello__form__input_name{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 43px;
	padding-bottom: 8px;
}
.main__prefooter__content__sayhello__form__input_email{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 10px;	
	padding-bottom: 40px;
}
.main__prefooter__content__sayhello__form__textarea_message{
	background-color: rgb(210, 105, 30);
	border-bottom-color: white;
	border-top: none;
	border-right: none;
	border-left:  none;
	width: 100%;
	margin-bottom: 30px;	
	height: 130px;
}
.main__prefooter__content__sayhello__form__button{
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 100px;
	padding-left: 100px;
	border-radius: 20px;
	border: none;
	background-color: white;
	color: black;
	margin-left: 10px;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
}
.main__prefooter__content__picture{
	width: 25%;
	height: 610px;
	background-size: cover;
	background-image:url(images/contact-img.jpg);
	background-position: center;
}
.main__prefooter__content__contacts{
	width: 25%;
	height: 610px;
	background-color: rgb(28, 28, 28);
}
.main__prefooter__content__contacts__text{
	color: white;
	margin-top: 50px;
	font-weight: 100;
	padding-left: 45px;
}
.main__prefooter__content__contacts__p{
	color:gray;
	margin-bottom: 50px;
}
.main__prefooter__content__contacts__links{
	display: flex;
	flex-direction: column;
	padding-left: 45px;
}
.fa-phone,.fa-envelope-o,.fa-globe{
	color:gray;
	margin-bottom: 30px;
}
.main__prefooter__content__contacts__links_number{
	text-decoration: none;
	color: gray;
	padding-left: 10px;
}
.main__prefooter__content__contacts__links_mail,
.main__prefooter__content__contacts__links_site{
	text-decoration: none;
	color:burlywood;
	padding-left: 10px;
}
/*--------------------FOOTER-----------------------------------------------------*/
.footer{
	/*display: flex;
	flex-direction:column;*/
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}
.footer__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1920px;
	height: 400px;
	background-color: rgb(255, 255, 255);
}
.footer__content__p{
	color: gray;
	margin-left: 500px;
}
.footer__content__links_facebook{
	text-decoration: none;
	color:gray;
	margin-right: 20px;
}
.footer__content__links_twitter{
		text-decoration: none;
		color:gray;
	   margin-right: 20px;
}
.footer__content__links_googleplus{
		text-decoration: none;
		color:gray;
		margin-right: 20px;
}
.footer__content__links_dribble{
		text-decoration: none;
		color:gray;
		margin-right: 20px;
}
.footer__content__links_linkedin{
		text-decoration: none;
		color:gray;
}
.footer__content__links{
	margin-left: 600px;
}
.footer__content__a{
	text-decoration: none;
	color: burlywood;
}

/*------------------------ADAPTIVE---------------------------------------------------------------------*/
@media (max-width: 990px){
	.header_content{
		display: flex;
		flex-direction: column;
	}
		.main__skills__content__text__paragr-brown,
.main__skills__content__text__paragr-gray,
.main__skills__content__text__header{
	font-size: 25px;
}
	.header_content__navigation__get-started{
	font-size: 25px;
	margin-top: 0px;
}
.header_content__navigation__welcome-message{
	font-size: 30px;
}
.header_content__navigation__hello-massage{
	font-weight: 100;
	font-size: 40px;
}
.header_content__navigation__paragr{
	font-size: 30px;
}
	.header_content__picture{
		width: 100%;
	}
	.header_content__navigation{
		width:100%; 
	}
	.items{
	font-size: 20px;
}
	.main__skills__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__skills__content__text{
		width: 100%;
	}
	.main__skills__content__picture{
		width: 50%;
	}
	.main__skills__content__levels{
		width: 50%;
	}
	.main__more__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__more__content__card-1{
		width: 50%;
		background-color: rgb(210, 105, 30);
		height: 400px;
	}
	.main__more__content__card-2{
		width: 50%;
		background-color:rgb(218, 165, 32);
		height: 400px;
	}
	.main__more__content__card-3{
		width: 50%;
		height: 400px;
	}
	.main__more__content__card-4{
		width: 50%;
		height: 400px;
	}
	.main__prefooter__content{
		max-width: 100%;
	}
	.main__prefooter__content__contacts__text{
		padding-right: 20px;
	}
	.main__prefooter__content__contacts__links{
		padding-right: 20px;
	}
	.footer__content__p{
		margin-left: 250px;
	}
	.footer__content__links{
	margin-left: 350px;
	}
}
@media (max-width: 768px){
	.main__more__content__card__text-1,.main__more__content__card__text-2,
.main__more__content__card__text-3,.main__more__content__card__text-4{
	font-size: 22px;
}
	.header_content__picture{
		width: 100%;
	}
	.header_content__navigation{
		width:100%; 
	}
	.items{
	font-size: 20px;
}
	.main__skills__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__skills__content__text{
		width: 100%;
	}
	.main__skills__content__picture{
		width: 50%;
	}
	.main__skills__content__levels{
		width: 50%;
	}
	.main__more__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__more__content__card-1{
		width: 50%;
		background-color: rgb(210, 105, 30);
	}
	.main__more__content__card-2{
		width: 50%;
		background-color:rgb(218, 165, 32);
	}
	.main__more__content__card-3{
		width: 50%;
	}
	.main__more__content__card-4{
		width: 50%;
	}
	.main__prefooter__content{
		max-width: 100%;
	}
	.main__prefooter__content__contacts__text{
		padding-right: 20px;
	}
	.main__prefooter__content__contacts__links{
		padding-right: 20px;
	}
	.footer__content{
	max-width: 100%;
	}
	.footer__content__p{
		margin-left: 250px;
	}
	.footer__content__links{
	margin-left: 350px;
	}
}
@media (max-width: 414px){
	.header_content__picture{
		width: 100%;
	}
	.header_content__navigation{
		width:100%; 
	}
	.items{
	font-size: 30px;
}
	.main__skills__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.header_content__navigation__get-started{
	font-size: 25px;
	margin-top: 0px;
}
.header_content__navigation__welcome-message{
	font-size: 30px;
}
.header_content__navigation__hello-massage{
	font-weight: 100;
	font-size: 40px;
}
.header_content__navigation__paragr{
	font-size: 30px;
}
	.main__skills__content__text__paragr-brown,
.main__skills__content__text__paragr-gray,
.main__skills__content__text__header{
	font-size: 25px;
}
.main__skills__content__text__header{
	font-size: 35px;
}
	.main__skills__content__text{
		width: 100%;
	}
	.main__skills__content__picture{
		width: 100%;
	}
	.main__skills__content__levels{
		width: 100%;
	}
	.progress-line{
	width: 90%;
}
.progress-name{
	font-size: 20px;
}

	.main__more__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__more__content__card-1{
		width: 100%;
		background-color: rgb(210, 105, 30);
	}
	.main__more__content__card-2{
		width: 100%;
		background-color:rgb(218, 165, 32);
	}
	.main__more__content__card-3{
		width: 100%;
	}
	.main__more__content__card-4{
		width: 100%;
	}
	.main__more__content__card__text-1,.main__more__content__card__text-2,
.main__more__content__card__text-3,.main__more__content__card__text-4{
	font-size: 30px;
}
	.main__prefooter__content{
		max-width: 100%;
	}
	
	.main__prefooter__content__contacts{
		height: 750px;
	}
	.main__prefooter__content__contacts__text{
		padding-right: 20px;
	}
	.main__prefooter__content__contacts__links{
		padding-right: 10px;
	}
	.footer__content{
	max-width: 100%;
	}
	.footer__content__p{
		margin-left: 250px;
	}
	.footer__content__links{
	margin-left: 360px;
	}
	.main__experiences__content__picture,.main__education__content__picture{
	min-width: 50%;
	height: 500px;
}
	.main__experiences__content__inform,.main__education__content__inform{
		height: 500px;
	}
}
@media (max-width: 320px){
	.header_content__picture{
		width: 100%;
	}
	.header_content__navigation{
		width:100%; 
	}
	.items{
	font-size: 30px;
}
	.main__skills__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.header_content__navigation__get-started{
	font-size: 25px;
	margin-top: 0px;
}
.header_content__navigation__welcome-message{
	font-size: 30px;
}
.header_content__navigation__hello-massage{
	font-weight: 100;
	font-size: 40px;
}
.header_content__navigation__paragr{
	font-size: 30px;
}
	.main__skills__content__text__paragr-brown,
.main__skills__content__text__paragr-gray,
.main__skills__content__text__header{
	font-size: 25px;
}
.main__skills__content__text__header{
	font-size: 35px;
}
	.main__skills__content__text{
		width: 100%;
	}
	.main__skills__content__picture{
		width: 100%;
	}
	.main__skills__content__levels{
		width: 100%;
	}
	.progress-line{
	width: 90%;
}
.progress-name{
	font-size: 20px;
}

	.main__more__content{
		display: flex;
		flex-wrap: wrap;
		align-content: flex-start;
	}
	.main__more__content__card-1{
		width: 100%;
		background-color: rgb(210, 105, 30);
	}
	.main__more__content__card-2{
		width: 100%;
		background-color:rgb(218, 165, 32);
	}
	.main__more__content__card-3{
		width: 100%;
	}
	.main__more__content__card-4{
		width: 100%;
	}
	.main__more__content__card__text-1,.main__more__content__card__text-2,
.main__more__content__card__text-3,.main__more__content__card__text-4{
	font-size: 30px;
}
	.main__prefooter__content{
		max-width: 100%;
	}
.main__prefooter__content__sayhello__form__p{
		font-size: 25px;
}
	.main__prefooter__content__sayhello__form__textarea_message{	
	height: 50px;
}
	.main__prefooter__content__contacts__text{
		padding-right: 20px;
	}
	.main__prefooter__content__contacts__links{
		padding-right: 20px;
	}
	.footer__content{
	max-width: 100%;
	}
	.footer__content__p{
		margin-left: 250px;
		font-size: 20px;
	}
	.footer__content__links{
	margin-left: 350px;
		font-size: 20px;
	}
	.main__experiences__content__picture,.main__education__content__picture{
	min-width: 50%;
	height: 750px;
}
	.main__experiences__content__inform,.main__education__content__inform{
		height: 750px;
	}
}